<%= content_for :js_libs, "modernizr parallax prettify" %>
<main class="landing-5">
  <%= render partial: 'layouts/statics_nav' %>
</main>
</div>
<div class="container">
  <article class="blog-1 blog-archive py-5">
    <div class="col-12 col-md-8 mr-md-auto ml-md-auto">
      <% if @blogs.present? %>
        <div id="blogs">
          <%= render partial: 'articles', locals: { blogs: @blogs } %>
        </div>
        <div class="card">
          <div class="card-body d-flex justify-content-center" id="paginate">
            <%= paginate @blogs, remote: true %>
          </div>
        </div>
      <% else %>
        <div class="card">
          <div class="card-body text-center">
            <p>Il n'y a pas encore d'articles publiés.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
</div>
