<%= content_for :js_libs, "modernizr parallax prettify" %>
<div class="container">
  <article class="blog-1 blog-archive py-5">
    <div class="col-12 col-md-8 col-sm-12 mr-md-auto ml-md-auto">
      <% if @blogs.present? %>
        <%# Blogs %>
        <div id="blogs">
          <%= render partial: 'articles', locals: { blogs: @blogs } %>
        </div>
        <% if @blogs.count > 10 %>
          <%# Pagination %>
          <div class="card">
            <div class="card-body d-flex justify-content-center" id="paginate">
              <%= paginate @blogs, remote: true %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="card">
          <div class="card-body text-center">
            <p>Il n'y a pas encore d'articles publiés.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</article>
</div>
