<%# Badges %>
<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-sm-responsive">
        <thead>
          <tr>
            <th>Badge</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @badges.each do |badge| %>
            <tr>
              <td>
                <%= render partial: 'badge', locals: { badge: badge } %>
              </td>
              <td>
                <%= badge.description %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
