<%# Badges %>
<% if user.badges.count > 0 %>
  <% %w[gold silver bronze].each do |difficulty| %>
    <div class="d-flex align-items-center" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= t "merit.badge", count: (user.badges.select { |badge| badge.custom_fields[:difficulty] === difficulty }).count  %> <%= t("merit.difficulty.#{difficulty}") %>">
      <% if difficulty === 'gold' %>
        <span style="color: #F2CA50; margin-right: 0.250rem;">•</span>
      <% elsif difficulty === 'silver' %>
        <span style="color: #BFBFBF; margin-right: 0.250rem;">•</span>
      <% else %>
        <span style="color: #A66641; margin-right: 0.250rem;">•</span>
      <% end %>
      <small class="text-muted my-0 mr-3">
        <%= (user.badges.select { |badge| badge.custom_fields[:difficulty] === difficulty }).count %>
      </small>
    </div>
  <% end %>
<% end %>
