<% if @user.badges.present? %>
  <div class="card">
    <div class="card-body text-center">
      <% if current_user == @user %>
        <p>Vos 3 derniers badges</p>
      <% else %>
        <p>Les 3 derniers badges de <%= "#{@user.first_name}" %></p>
      <% end %>
    </div>
  </div>
  <% @user.badges.last(3).each do |badge| %>
    <%= render partial: 'badges/badge-card', locals: { badge: badge, shadow: '', padding: '' } %>
  <% end %>
<% else %>
  <div class="card">
    <div class="card-body text-center">
      <% if current_user == @user %>
        <p>Vous n'avez pas encore obtenu de badges.</p>
      <% else %>
        <p><%= "#{@user.first_name}" %> n'a pas encore obtenu de badges.</p>
      <% end %>
    </div>
  </div>
<% end %>
