<header class="landing-header-1 d-flex flex-column pb-5">
  <div class="container header-caption d-flex justify-content-around">
    <div class="row">
      <div class="col-12 px-5">
        <div class="text-center">
          <h1 class="font-weight-bold">Trouvez des <br />
            <span id="typed"></span>
          </h1>
          <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
          <script>
            var options = {
            strings: ['exercices^1000', 'fiches de révision^1000', 'présentations^1000', 'notes de cours^1000', 'corrigés^1000'],
            typeSpeed: 60,
            backSpeed: 30,
            loop: true
            }
            var typed = new Typed("#typed", options);
          </script>
          <div class="pt-5">
            <%= render partial: 'search/form', locals: { search_path: posts_path, placeholder: 'Dissertation Guerre Froide, Fiches Droit des sociétés, Exercices isométriques…' } %>
            <% @search_path = posts_path %>
          </div>
          <div>
            <h5 class="pt-5">Des milliers de ressources universitaires de qualité, créées par des étudiants et accessibles gratuitement !</h5>
          </div>
          <div class="py-5 text-uppercase">
            <%= link_to "Accéder aux contenus", new_user_registration_path, class: "btn btn-lg btn-primary my-4" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</header>
