<% @title = @group.name %>
<%# content_for :description do
  <p>Edit this template in <code>app/views/Groups/show.html.erb</code>.</p>
end %>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Recherchez un cours dans cette université et trouvez du contenu à ce sujet." aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title">Publications les plus populaires</h6>
        </div>
        <div class="card-body">
          <table class="table table-hover inspectable">
            <thead>
              <tr>
                <th>Publication</th>
              </tr>
            </thead>
            <tbody>
              <% @group.posts.each do |post| %>
                <tr class="tr-group" data-link="<%= post_path(post) %>">
                  <td><%= post.title %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $("tr[data-link]").click(function() {
    window.location = $(this).data("link")
  })
</script>
