<% @title = @group.name %>
<%# content_for :description do
  <p>Edit this template in <code>app/views/Groups/show.html.erb</code>.</p>
end %>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Recherchez un cours dans cette université et trouvez du contenu à ce sujet." aria-label="Username" aria-describedby="sizing-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="form-horizontal">
            <div class="form-group row">
              <label class="col-12 col-md-2 form-label">Name</label>
              <div class="col-12 col-md-10 form-control uneditable-input">
                <span>
                  <%= @group.name %>
                </span>
              </div>
            </div>
            <div class="d-flex">
              <div class="ml-auto">
                <%= link_to fa_icon_tag("pencil") + ' Edit', edit_group_path(@group), class: 'btn btn-primary' %>
                <%= link_to 'Back', groups_path, class: 'btn' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
