<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>
<nav class="nav-side-menu navbar-expand-lg">
  <div class="navbar-header">
    <div class="profile">
      <%= image_tag(current_user.avatar.url, class: "rounded-circle profile-image", width: '60', height: '60', alt: 'profile picture') %>
      <div class="profile-body">
        <h6><%= current_user.first_name %> <%= current_user.last_name %></h6>
      </div>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#menu-content" aria-controls="menu-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div id="menu-content" class="navbar-collapse collapse">
    <div class="nav-side-container">
      <ul class="navbar-nav flex-column">
        <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
          <li class="nav-item"><%= link_to(
              display_resource_name(resource),
              [namespace, resource_index_route_key(resource)],
              class: "nav-link #{nav_link_state(resource)}"
            ) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
