select {
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  height: calc(1.5em + 0.75rem + 2px);
  width: 100%;

  &:focus {
    outline: 0 !important;
  }
}

input,
select,
textarea {
  display: block;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #a1afc0;
  border-radius: 30px;
  color: #4173a7;
  line-height: normal;
  box-shadow: none;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  background-color: transparent;
  border: 1px solid #a1afc0;
  border-radius: 30px;
  color: #4173a7;
  line-height: normal;
  box-shadow: none;
  padding: 0.375rem 0.75rem;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  display: block;
  font-size: 1rem;
  font-weight: 400;

  &:focus {
    border: 1px solid #4173a7;
    outline: 0 !important;
  }


  &::placeholder {
    font-style: italic;
  }
}

textarea {
  resize: none;
  max-width: 100%;
  padding: .5rem 1rem;
  border-bottom: 1px solid #a1afc0;
  border-radius: 0.1875rem;
  line-height: 1.5;
  height: auto;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
}

[type="checkbox"] {
  display: inline-block;
  top: 0;
  left: 0;
  transition: opacity 0.3s linear;
  border: 1px solid #a1afc0;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  width: 26px;
  height: 26px;
  content: ' ';
}

[type="file"] {
  width: 100%;
}

.selectize-input {
  background-color: transparent;
  border: 1px solid #a1afc0;
  color: #4173a7;
  line-height: normal;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
  box-shadow: none;
  // display: inline-block;
  // width: 100%;
  // height: calc(1.5em + 0.75rem + 2px);
  // padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  // font-size: 1rem;
  // font-weight: 400;
  // vertical-align: middle;

  input {
    width: 100%;
  }
}

.selectize-input.focus {
  box-shadow: none;
  border: 1px solid #4173a7;
  border: 1px solid #4173a7;
  box-shadow: none;
  outline: 0 !important;
  color: #4173a7;
  background-color: transparent;
}