<tr class="tr-group" data-link="<%= tag_path(tag) %>">
  <td class="d-flex align-items-center">
    <span class="mr-2">
      <%# Icon %>
      <i class="ti-tag" style="font-size: 25px;"></i>
    </span>
    <%= tag.title %>
  </td>
</tr>
