<% @title = "##{@tag.title}" %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% if @posts.present? %>
        <div id="posts">
          <%= render partial: 'posts', locals: { posts: @posts } %>
        </div>
        <div class="card">
          <div class="card-body d-flex justify-content-center" id="paginate">
            <%= paginate @posts, remote: true %>
          </div>
        </div>
      <% else %>
        <div class="card">
          <div class="card-body text-center">
            <p>Il n'y a pas encore eu de publications.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
