<% @title = "##{@tag.title}" %>
<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12">
      <% if @posts.present? %>
        <%# Posts %>
        <div id="posts">
          <%= render partial: 'posts', locals: { posts: @posts } %>
        </div>
        <% if @tag.posts.length > 20 %>
          <%# Pagination  %>
          <%= render partial: 'kaminari/pagination', locals: { object: @posts, ajax: 'local' } %>
        <% end %>
      <% else %>
        <div class="card">
          <div class="card-body text-center">
            <p>Il n'y a pas encore eu de publications.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
