<tr class="tr-group" data-link="<%= subject_path(subject) %>">
  <td class="d-flex align-items-center">
    <span class="mr-2">
      <%# Icon %>
      <i class="ti-book" style="font-size: 25px;"></i>
    </span>
    <%= subject.name %>
  </td>
</tr>
