  
<li class="nav-item dropdown">
  <a class="nav-link justify-content-end" id="dropdownSearchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= theme_icon_tag "search" %>
  </a>
  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownSearchButton">
    <li>
      <%= form_tag(posts_path, method: 'get', class: 'form-inline', role: 'search') do %>
        <div class="input-group my-0">
          <%= text_field_tag :search, nil, placeholder: "Rechercher", class: "form-control", id: "search", name: "search", autocomplete: :off %>
          <%= submit_tag '', style: "display: none;" %>
        </div>
      <% end %>
    </li>
  </ul>
</li>
