<div class="media align-items-center">
  <div class="media-body text-left">
    <div class="d-flex flex-row">
      <h6 class="my-0 mr-2"><%= level.level %>A</h6>
    </div>
  </small>
</div>
<div class="text-muted">
  <%# Number of posts %>
  <%= theme_icon_tag('file') %>
  •
  <%= level.posts.count %>
</div>
