<div class="card card-tabbed">
  <div class="card-header d-flex justify-content-center d-flex flex-row">
    <div class="d-flex flex-column">
      <div class="text-center">
        <%= theme_icon_tag "medall", class: 'display-1 text-brand-primary-lightest' %>
        <%# Title %>
        <h6 class="mt-2">Classement</h6>
      </div>
    </div>
  </div>
  <ul class="nav rounded-nav-tabs d-flex flex-column text-center border-bottom">
    <li class="nav-item">
      <a href="#today" data-toggle="tab" class="nav-link">Aujourd'hui</a>
    </li>
    <li class="nav-item">
      <a href="#week" data-toggle="tab" class="nav-link">Cette semaine</a>
    </li>
    <li class="nav-item">
      <a href="#month" data-toggle="tab" class="nav-link">Ce mois-ci</a>
    </li>
  </ul>
  <div class="table-responsive">
    <div class="tab-content" id="tabs">
      <div class="tab-pane" id="today">
        <%# Daily point leaderboard %>
        <%= render partial: 'point_leaderboard', locals: { since_date: Date.today } %>
      </div>
      <div class="tab-pane" id="week">
        <%# Weekly point leaderboard %>
        <%= render partial: 'point_leaderboard', locals: { since_date: 1.week.ago } %>
      </div>
      <div class="tab-pane" id="month">
        <%# Monthly point leaderboard %>
        <%= render partial: 'point_leaderboard', locals: { since_date: 1.month.ago } %>
      </div>
    </div>
  </div>
</div>
<script>
  function activateTab(tab){
      $('.rounded-nav-tabs a[href="#' + tab + '"]').tab('show');
  };
  
  activateTab('today');
</script>
