<% @title = "Apportez votre pierre" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-9 col-md-9 mr-auto ml-auto">
      <%= render partial: 'form' %>
    </div>
  </div>
</div>
