<% @title = "#{@post.title}" %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <%= render @post %>
    </div>
    <div id="sidebar" class="col-lg-3 col-md-4 order-md-2 order-sm-1">
      <%= render 'users/side_panel', locals: {user: @user} %>
      <%= render partial: 'badges/side_panel' %>
    </div>
  </div>
</div>
