.pagination {
  margin-top: $base-spacing;
  margin-bottom: $base-spacing;
  // padding-left: $base-spacing;
  // padding-right: $base-spacing;
  // text-align: center;
  justify-content: center;

  // .first,
  // .prev,
  // .page,
  // .next,
  // .last {
  //   margin: $small-spacing;
  // }

  .current {
    font-weight: $bold-font-weight;
  }
}