/* Landing page components */
.devise-1 header img {
    position: static;
}

/* Flashes */
.close:hover {
    text-decoration: none;
    cursor: pointer;
}

/* Tags */
.badge-light {
    background-color: #eef1f5;
}

.badge-light:hover {
    background-color: #e6e6e6;
}