/* Landing page components */
.devise-1 header img {
    position: static;
}

/* Flashes */
.close:hover {
    text-decoration: none;
    cursor: pointer;
}

.close:hover text {
    cursor: pointer;
}

.alert:hover {
    cursor: default;
}

/* Badges */
.badge-light {
    background-color: #eef1f5;
}

.badge-light:hover {
    background-color: #e6e6e6;
}

/* Buttons */
.btn-light {
    box-shadow: none;
}

.btn-light:hover {
    border-bottom: none;
}

/* Tooltips */
.tooltip-inner {
    padding: 0.7rem 0.5rem;
}

/* Comment file input */
.comment-inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


/* File */
.file:hover {
    text-decoration: none;
}