<div class="container py-5">
  <div class="row no-gutters equal-cols align-items-center">
    <div class="col-12 col-md-5">
      <img src="<%= image_path('statics/landing_page_1.png') %>" class="rounded mb-3 mb-md-0" width="100%">
    </div>
    <div class="col-12 col-md-5 mx-md-auto">
      <h2 class="leading-normal">Edukado vous aidera tous les jours.</h2>
      <p class="lead">La plateforme est accessible sur ordinateur comme sur votre mobile. Vous pouvez y accéder partout.</p>
      <a class="d-table btn btn-outline-primary btn-border-2x" href="javascript:">Découvrir la plateforme</a>
    </div>
  </div>
</div>
