<div class="container content-block-1 text-white">
  <div class="row d-flex align-items-center">
    <div class="row">
      <h2 class="text-dark text-center col-12 my-4 mb-0">Edukado vous aidera tous les jours.</h2>
      <p class="text-dark text-center col-12 my-0 mb-5">La plateforme est accessible sur ordinateur comme sur votre mobile. Vous pouvez y accéder de partout.</p>
    </div>
    <div class="col-12 col-md-6 flex-nowrap flex-column">
      <img src="<%= image_path('statics/landing_page_1.png') %>" class="rounded" width="100%">
    </div>
    <div class="co-12 col-md-5 ml-md-auto d-flex align-content-around flex-wrap text-brand-primary-dark">
      <div class="d-flex flex-row align-items-center">
        <%= fa_icon_tag("heart", { class: "fa-3x fa-fw mr-2" }) %>
        <h6>
          Des prises de notes, des exercices corrigés, des Travaux Dirigés…
        </h6>
      </div>
      <div class="d-flex flex-row align-items-center">
        <%= fa_icon_tag("heart", { class: "fa-3x fa-fw mr-2" }) %>
        <h6>
          Du contenu de qualité universitaire, à jour & en Français
        </h6>
      </div>
      <div class="d-flex flex-row align-items-center">
        <%= fa_icon_tag("heart", { class: "fa-3x fa-fw mr-2" }) %>
        <h6>
          Des packs références co-construits avec les associations étudiantes 
        </h6>
      </div>
    </div>
  </div>
</div>
