<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mr-md-auto ml-md-auto text-center">
      <img src="<%= image_path('kiso_themes/pyrrmid_200.png') %>" class="mt-3 mb-3" width="200" height="200">
      <h3>Edukado</h3>
      <p class="lead">Edukado, c'est aussi:</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 col-md-10 ml-md-auto mr-md-auto">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Aider la communauté Edukado</h5>
                <p class="small">La communauté vous aidera où que vous soyez dans le monde afin de trouver des réponses à vos questions. Participer à la communauté vous permettra d'avoir une réponse plus rapide des autres étudiants.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Apprendre de nouvelles notions</h5>
                <p class="small">Vous avez toujours rêvez d'apprendre la programmation ? La communauté Edukado vous permet d'apprendre ou de perfectionner ce que vous avez toujours rêver d'apprendre.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Réussir vos examens</h5>
                <p class="small">La communauté Edukado met à disposition des dizaines de sujets d'examens corrigés. Ces fichiers vous permettront de vous entrainer afin de réussir ceux-ci.</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="media mb-4">
              <i class="d-flex mr-3 ti-eye h2"></i>
              <div class="media-body">
                <h5 class="mt-0">Parrainer vos amis</h5>
                <p class="small">La communauté Edukado grandit de jour en jour. Elle ne serai rien sans vous, faites vivre la communauté et parrainez vos amis afin d'augmenter le nombre de ressources disponibles sur la plateforme.ÈÈ</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
