<div class="container">
  <div class="row">
    <div class="col-12">
    	<h6 class="text-muted text-center">97% des utilisateurs sont satisfaits de la qualité des documents disponibles sur la plateforme</h6>
      <blockquote class="blockquote text-center text-white">
        <h3>Edukado m'a permis d'accèder aux cours et aux examens corrigés des meilleures business schools françaises. Et tout ça gratuitement !</h3>
        <footer class="blockquote-footer"><%= random_avatar 24, "rounded-circle" %> Pauline Dubois <cite title="Source Title">Etudiante à l'EM Lyon</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
