<div class="container content-block-1 text-white">
  <div class="row">
    <div class="co-12 col-md-5 mr-md-auto d-flex align-content-around flex-wrap text-brand-primary-dark text-right">
      <div class="d-flex flex-row align-items-center">
        <h6>
          Des prises de notes, des exercices corrigés, des Travaux Dirigés…
        </h6>
        <%= fa_icon_tag("heart", { class: "fa-4x fa-fw ml-2" }) %>
      </div>
      <div class="d-flex flex-row align-items-center">
        <h6>
          Du contenu de qualité universitaire, à jour & en Français
        </h6>
        <%= fa_icon_tag("heart", { class: "fa-4x fa-fw ml-2" }) %>
      </div>
      <div class="d-flex flex-row align-items-center">
        <h6>
          Des packs références co-construits avec les associations étudiantes 
        </h6>
        <%= fa_icon_tag("heart", { class: "fa-4x fa-fw ml-2" }) %>
      </div>
    </div>
    <div class="col-12 col-md-6 flex-nowrap flex-column">
      <img src="//placeimg.com/600/400/any" class="rounded">
    </div>
  </div>
</div>
