<div class="container content-block-2 text-white d-flex flex-row flex-wrap">
  <div class="co-12 col-md-5 mr-md-auto">
    <img src="//placeimg.com/600/400/any" class="rounded">
  </div>
  <div class="col-12 col-md-6 flex-nowrap flex-column">
    <div class="card w-27 h-9 m-3 d-inline-block positon-relative" style="background-color: #283d52">
      <div class="pt-3 pl-3">
      </div>
      <div class="font-weight-bold pt-2 pl-3">
        <h5>Simple but powerful</h5>
      </div>
      <div class="d-block pl-3 opacity-60">
        <p>Life is too short to start procrastinating all day long</p>
      </div>
    </div>
    <div class="card w-27 h-9 m-3 d-inline-block positon-relative" style="background-color: #283d52">
      <div class="pt-3 pl-3">
      </div>
      <div class="font-weight-bold pt-2 pl-3">
        <h5>Simple but powerful</h5>
      </div>
      <div class="d-block pl-3 opacity-60">
        <p>Life is too short to start procrastinating all day long</p>
      </div>
    </div>
    <!-- h3>La plateforme évolue grâce à vous.</h3>
      <p class="lead">Et, vous avez le contrôle !</p>
      <p>Edukado est une plateforme créée par des étudiants et pour les étudiants. Des nouvelles fonctionnalités seront ajoutées selon les besoins de la communauté.</p>
      <a class="btn btn-circle btn-outline-success text-uppercase text-white" href="javascript:">Se connecter</a> -->
  </div>
</div>
</div>
