<section class="">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 text-center mb-5">
              <div class="bg-circle bg-primary-lightest text-white mb-4">
                <i class="ti-infinite display-3"></i>
              </div>
              <h3>Variété</h3>
              <p>Des prises de notes, des exercices corrigés, des travaux dirigés…</p>
            </div>
            <div class="col-12 col-md-4 text-center mb-5">
              <div class="bg-circle bg-primary-lightest text-white mb-4">
                <i class="ti-check display-3"></i>
              </div>
              <h3>Qualité</h3>
              <p>Du contenu de qualité universitaire, à jour & en Français</p>
            </div>
            <div class="col-12 col-md-4 text-center mb-5">
              <div class="bg-circle bg-primary-lightest text-white mb-4">
                <i class="ti-package display-3"></i>
              </div>
              <h3>Co-construits</h3>
              <p>Des packs références co-construits avec les associations étudiantes </p>
            </div>
            <div class="col-12 col-md-4 text-center mt-5">
              <div class="bg-circle bg-primary-lightest text-white mb-4">
                <i class="ti-cup display-3"></i>
              </div>
              <h3>Donnant-donnant</h3>
              <p>Un système de donnant-donnant pour inciter à la réciprocité</p>
            </div>
            <div class="col-12 col-md-4 text-center mt-5">
              <div class="bg-circle bg-primary-lightest text-white mb-4">
                <i class="ti-thumb-up display-3"></i>
              </div>
              <h3>Réussissez</h3>
              <p>Une précieuse aide à la réussite pour tous les étudiants</p>
            </div>
            <div class="col-12 col-md-4 text-center mt-5">
              <div class="bg-circle bg-primary-lightest text-white mb-4">
                <i class="ti-stats-up display-3"></i>
              </div>
              <h3>Améliorez-vous</h3>
              <p>Des conseils & méthodes pour s'améliorer tous les jours</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
