<div class="container content-block-1 text-white">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md-6 flex-nowrap flex-column">
      <img src="<%= image_path('statics/landing_page_3.png') %>" class="rounded" width="100%">
    </div>
    <div class="co-12 col-md-5 ml-md-auto d-flex align-content-around flex-wrap text-brand-primary-dark">
      <div class="d-flex flex-row align-items-center">
        <%= fa_icon_tag("heart", { class: "fa-3x fa-fw mr-2" }) %>
        <h6>
          Un système de donnant-donnant pour inciter à la réciprocité
        </h6>
      </div>
      <div class="d-flex flex-row align-items-center">
        <%= fa_icon_tag("heart", { class: "fa-3x fa-fw mr-2" }) %>
        <h6>
          Une précieuse aide à la réussite pour tous les étudiants
        </h6>
      </div>
      <div class="d-flex flex-row align-items-center">
        <%= fa_icon_tag("heart", { class: "fa-3x fa-fw mr-2" }) %>
        <h6>
          Des conseils & méthodes pour s'améliorer tous les jours
        </h6>
      </div>
    </div>
  </div>
</div>
