<div class="container">
  <div class="row no-gutter bg-dark ">
    <div class="col-12">
      <div class="d-flex flex-row flex-wrap align-items-center">
        <div class="d-flex flex-grow-2 justify-content-end flex-basis-100">
          <ul class="list-inline m-0 ">
            <li class="list-inline-item mr-3"><a href="<%= root_path %>" class="text-hover-light">Accueil</a></li>
            <li class="list-inline-item mr-3"><a href="/faqs/index/" class="text-hover-light">A propos</a></li>
          </ul>
        </div>
        <div class="">
          <img src="<%= image_path('logos/application_logo.png') %>" class="m-0" width="32" height="32" >
        </div>
        <div class="d-flex flex-grow-2 flex-basis-100">
          <ul class="list-inline m-0">
            <li class="list-inline-item ml-3"><a href="/blogs/index/" class="text-hover-light">Articles</a></li>
            <li class="list-inline-item ml-3"><a href="mailto:contact@edukado.co" class="text-hover-light">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
