<section class="bg-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 d-flex flex-column flex-wrap align-items-center justify-content-center p-5">
        <div class="border border-info border-2x btn-lg text-uppercase">
          <h4 class="m-0">Fait avec <i class="ti-heart "></i> par des étudiants, pour des étudiants.</h4>
        </div>
      </div>
    </div>
  </div>
</section>
