<div class="container">
  <div class="row">
    <h2 class="text-dark text-center col-12 my-4 mb-0">Edukado vous aidera tous les jours.</h2>
    <p class="text-dark text-center col-12 my-0 mb-5">La plateforme est accessible sur ordinateur comme sur votre mobile. Vous pouvez y accéder de partout.</p>
    </div>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= image_tag "icons/share.svg", class: 'display-1' %>
      </div>
      <h3>Apprendre</h3>
      <p>La communauté vous permet d'apprendre ou de perfectionner ce que vous avez toujours rêver de maîtriser.</p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= image_tag "icons/refer.svg", class: 'display-1' %>
      </div>
      <h3>Réussir</h3>
      <p>La communauté met à disposition des sujets corrigés que vous puissiez vous entrainer pour vos examens.</p>
    </div>
    <div class="col-12 col-md-4 text-center">
      <div class="bg-circle bg-primary-lightest text-white mb-4">
        <%= image_tag "icons/success.svg", class: 'display-1' %>
      </div>
      <h3>Parrainer</h3>
      <p>La communauté a besoin de vous pour vivre. Parrainez vos amis afin d'augmenter le nombre de ressources. </p>
    </div>
  </div>