<% resources = AdminNavigation.routes(Administrate::Namespace.new(namespace)) %>
<% resources.each do |resource| %>
  <li class="nav-item">
    <%= link_to(
      display_resource_name(resource),
      resource_index_route(resource),
      class: "nav-link #{nav_link_state(resource)}"
    ) if valid_action? :index, resource  %>
  </li>
<% end %>
